
.admin {
    display: flex;
    margin: 10px;
}

.admin-option {
    background-color: var(--white-color);
    font-size: 1.4rem;
    padding: 10px;
}

.admin-head {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 900;
    color: var(--primary-color);
    padding: 10px;
}

.admin-option ul {
    padding: 0px;
    width: 120px;
}

.admin-option li{
    list-style-type: none;
    border-bottom: 1px solid  rgba(12, 143, 69, 0.7);
    margin: 5px 0px;
    padding: 5px 0px;
}

.admin-option li:hover {
    background-color: rgba(12, 143, 69, 0.7);
    color: var(--white-color);
}

.admin-option a {
    text-decoration: none;
    color: var(--primary-color);
}

.table {
    margin-left: 10px;
    font-size: 1.2rem;
}

.id {
    /* padding: 0px 5px; */
    width: 30px;

}

.admin-option li.active{
    background-color: rgba(12, 143, 69, 0.7);
    color: var(--white-color);
}

.name {
    width: 180px;
}

.author {
    width: 140px;
}

.describe {
    width: 600px;
}

.nxb {
    width: 120px;
}



.set-item {
    width: 160px;
}

.set-item a {
    text-decoration: none;
    padding: 1px;
}

thead {
    background-color: rgba(12, 143, 69, 0.7);
    color: var(--white-color);
}

tbody {

    background-color: var(--white-color);
}

.detail {
    margin: 0px 10px;
    background-color: var(--white-color);
    display: flex;
    font-size: 1.7rem;
}

.detail-text{
    padding: 10px;
    color: var(--primary-color);
    line-height: 20px;
}

.detail span {
    font-weight: 900;
}

.detail-img img{
    width: 300px;
    padding: 10px;
}

.submit {
    background-color: rgba(12, 143, 69, 0.7);
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
}

.search-admin {
    background-color: rgba(12, 143, 69, 0.7);
    font-size: 1.7rem;
    color: var(--white-color);
    border-radius: 10px;
}

.input {
    padding: 5px;
    width: 50%;
    margin: 5px;
}

.success {
    background-color: rgba(12, 143, 69, 0.7);
     color: var(--white-color);
     padding: 10px;
     font-size: 2rem;
}

.history_buy {
    max-width: fit-content;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
}

.buy_info {
    text-decoration: none;
}

.buy_info-detail  {
    background-color: var(--white-color);
    color: var(--text-color);
    padding: 20px;
    border-radius: 10px;
    margin: 0px 0px 0px 20px;
    margin-bottom: 30px;
    font-size: 2rem;
    line-height: 30px;
}

.buy_info-detail span {
    color: var(--primary-color);
    font-weight: 600;
}

.detail-order {
    display: flex;
    flex-wrap: wrap;
}

.mycart-detail {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 5px 20px;
    justify-content: space-between;
    border-radius: 5px;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 20px;
    width: 100%;
}

.mycart-detail-img img{
    width: 80px;
    height: 120px;
}

.mycart-detail-name {
    
    width: 350px;
    text-align: justify;
}

.mycart-detail-quantity span{
    background-color: rgba(12, 143, 69, 0.5);
    color: var(--white-color);
    padding: 5px 12px;
    text-align: center;
    border-radius: 3px;
}

.mycart-detail-form input:hover {
    cursor: pointer;
}

.mycart-detail-form input{
    background-color: rgba(12, 143, 69, 0.7);
     color: var(--white-color);
     font-size: 1.6rem;
     font-weight: 500;
     border: 1px solid rgba(255, 255, 255, 0.5);
     padding: 3px 8px;
}

tbody img {
    height: 50px;
    width: 50px;
}